
.mkMission {
    background-image: url('../../../public/img/mkmission.jpg');
    background-size: cover;
    display: inline-block;
    padding: 7em;
}

.mkMission h2 {
    color: white;
    font-style: italic;
}

.rethinking {
    background-color: lightblue;
    padding-top: 7em;
    padding-bottom: 7em;
}

.features {
    display: flex;
    flex-direction: row;
}

.ADSfeature {
    background-color: #00CCFF;
    width: 20em;
    margin: 5em;
}

.row1 {
    background-color: darkslateblue;
    max-width: 100%;
}

.row1 h2 {
    color: white;
}

.row1 p {
    color: white;
}

.row2 {
    max-width: 100%;
}

.fourSquarePic {
    max-width: 50%;
    display: inline-block;
}

.fourSquareText {
    display: inline-block;
    max-width: 50%;
}

.whyRisk {
    background-color: skyblue;
}

.letsBuild {
    background-color: white;
}

.letsBuildPic {
    max-width: 50%;
    display: inline-block;
}

.letsBuildText {
    max-width: 50%;
    display: inline-block;
}